<div class="center date" itemscope itemtype="http://schema.org/Event">
  <meta itemprop="startDate" content="2016-09-16">
  <meta itemprop="endDate" content="2016-09-17">
  <meta itemprop="url" content="http://becamp.org">
  <meta itemprop="description" content="Open Space Conference">
  <meta itemprop="image" content="<%= image_url 'becamp-large.png' %>">
  <b>Did you know? </b>You can BeTech all year round! 
  <br>
  Spring = BeSwarm | Fall = BeCamp
  <br>
  <br>
  <b>Save the date for <span itemprop="name">beCamp</span> 2018!</b>
  <br >
  Friday & Saturday Sept. 28 & 29
  <br />
  <span itemprop="location" itemscope
    itemtype="http://schema.org/Place"><span itemprop="name"><b>Rice Hall @UVa</b></span><br/>
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">85 Engineer's Way</span><br/>
      <span itemprop="addressLocality">Charlottesville</span>, <span itemprop="addressRegion">VA</span>.
    </span>
  </span>
  <br/>
  <br>
  <div class="count">
    <%= "#{User.attending.count} #{User.attending.count == 1 ? 'person' : 'people'} will be attending!" %>
  </div>
</div>
<div class="center actions">
  <% if !user_signed_in? %>
    <%= link_to 'Join Our Mailing List', mailing_list_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Register', signin_path, class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
<div class="center actions">
  <b>Unconferences are not unorganized!</b> 
  <br>
  Please consider sponsoring or volunteering!
  <br>
  <br>
  See <a href="https://airtable.com/shrJUU9c2RcBhz2jA" target="_blank">this link</a> for 2018 sponsorship opportunities.
  <br>
  <br>
  Contact this year's organizers, Todd Gerdy (todd_gerdy) and Jessica Otey (jessica.otey) 
  <br> via the <a href="http://bit.ly/slack-cville">Cville Slack</a> to sponsor or volunteer.
</div>
<div class="center overview">
  <div>See what beCamp is all about!</div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aVMBvWumoF8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
